/* fonts */
@font-face {
  font-family: 'Raleway';
  src: url('../assets/fonts/Raleway-Light.eot');
  src: url('../assets/fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Raleway-Light.woff2') format('woff2'),
    url('../assets/fonts/Raleway-Light.woff') format('woff'),
    url('../assets/fonts/Raleway-Light.ttf') format('truetype'),
    url('../assets/fonts/Raleway-Light.svg#Raleway-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../assets/fonts/Raleway-LightItalic.eot');
  src: url('../assets/fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Raleway-LightItalic.woff2') format('woff2'),
    url('../assets/fonts/Raleway-LightItalic.woff') format('woff'),
    url('../assets/fonts/Raleway-LightItalic.ttf') format('truetype'),
    url('../assets/fonts/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../assets/fonts/Raleway-Medium.eot');
  src: url('../assets/fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Raleway-Medium.woff2') format('woff2'),
    url('../assets/fonts/Raleway-Medium.woff') format('woff'),
    url('../assets/fonts/Raleway-Medium.ttf') format('truetype'),
    url('../assets/fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../assets/fonts/PlayfairDisplay-Bold.eot');
  src: url('../assets/fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
    url('../assets/fonts/PlayfairDisplay-Bold.woff') format('woff'),
    url('../assets/fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
    url('../assets/fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../assets/fonts/PlayfairDisplay-Regular.eot');
  src: url('../assets/fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('../assets/fonts/PlayfairDisplay-Regular.woff') format('woff'),
    url('../assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
    url('../assets/fonts/PlayfairDisplay-Regular.svg#../assets/fonts/PlayfairDisplay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../assets/fonts/PlayfairDisplay-BoldItalic.eot');
  src: url('../assets/fonts/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
    url('../assets/fonts/PlayfairDisplay-BoldItalic.woff') format('woff'),
    url('../assets/fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype'),
    url('../assets/fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../assets/fonts/PlayfairDisplay-Italic.eot');
  src: url('../assets/fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
    url('../assets/fonts/PlayfairDisplay-Italic.woff') format('woff'),
    url('../assets/fonts/PlayfairDisplay-Italic.ttf') format('truetype'),
    url('../assets/fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

/* Main Styling */

/* --------- Elements --------- */
h2 {
  font-family: "Playfair Display";
  font-size: 2.375rem;
  margin: 0;
}

h2 em {
  font-weight: 100;
}

h3 {
  font-family: "Playfair Display";
  font-weight: 100;
  font-size: 1.5rem;
  color: #e2574c;
  margin-top: 0.75rem;
  margin-bottom: 1.25rem;
}

figure {
  margin-top: 3.75rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

figcaption {
  font-size: 0.75rem;
  color: #969696;
  text-transform: uppercase;
  margin-top: 0.75rem;
}

i {
  font-size: 0.875rem;
}

/* --------- Layout --------- */
html {
  font-family: "Raleway";
  /* 14px */
  font-size: 0.875rem;
}

body {
  color: #2d2d2d;
  margin: 0 auto;
  /* font-family: "Raleway"; */
  text-align: center;

}

.container {
  max-width: 1240px;
  margin: 0 auto;
  /* font-family: "Raleway"; */
}

/* Header */
header {
  overflow: hidden;
  background-color: white;
  position: fixed;
  /* Set to fixed position */
  top: 0;
  /* Position at the top of the page */
  width: 100%;
  /* Full width */
  z-index: 8000;
}

.container.header {
  background-color: white;
  font-family: "Playfair Display";
  color: #e2574c;
  /* margin: 13px 10px 0px 10px; */
  padding: 1rem 0.875rem 0rem 0.875rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

.logo {
  order: 1;
  width: 25%;
  text-align: left;
}

.logo img {
  height: 47px;
}

.cart-icon {
  order: 2;
  width: 25%;
  text-align: right;
}

.cart-icon img {
  height: 50px;
}

nav {
  order: 3;
  margin-top: 0.4375rem;
  border-top: 0.0625rem solid #d7d7d7;
  width: 100%;
}

.header nav ul {
  padding-inline-start: 0px;
  list-style-type: none;
  /* removes bullet pts */
  /* margin: 13px; */
  /* padding: 0; */
  font-family: "Raleway";

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header nav ul li a {
  padding: 0.5rem 1.125rem;
  /* margin: 14px 0px; */
  color: #e2574c;
  /* text-align: center; */
  /* padding: 16px; */
  text-decoration: none;
  /* display: block; */
}

.header nav ul li a:hover {
  color: #b64036;
}

/* Footer */
footer .link {
  color: white;
}

.footer {
  background-color: #242424;
  font-family: "Playfair Display";
  color: white;
  margin: 0 auto;

  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-info {
  width: 100%;
}

.contact-info p:nth-of-type(1) {
  margin: 0 auto;
}

.address {
  color: #969696;
}

.contacts-icons {
  margin-top: 1.5rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.contacts-icons div i {
  display: inline-block;
  margin-right: 0.75em;
}

.icon-links {
  color: white;
  padding: 0 0.65rem;
}

.contacts-names {
  display: none;
}

.contacts-names ul {
  height: 300px;
  margin: 0 auto;
  list-style-type: none;
  line-height: 2rem;
  padding-left: 10%;
  text-align: left;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

/*
.contacts-names p {
  display: inline-block;
  margin-right: 0.75em;
}
*/

/* --------- Content Area --------- */
.new-collection {
  margin-top: 119px;
  /* combining imgs */
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("../assets/images/banner-girl.png"),
    url("../assets/images/flower-bkgd.jpg");
  /* ./ this directory here
  ../ go to the parent directory 
  It's better to use relative path instead of absolute path since ??? */

  /* center and scale the image nicely, use commas to target each bg img */
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: left, center 4.25rem
    /* center 200px - to make girl go lower */
    , center top;
  background-size: cover, 150px
    /* 35% */
    /* use rem instead since it will scale nicely - value/16 = rem value */
    , cover;
  /* not required since it is part of background and will not overflow automatically.
  overflow: hidden; 
  */
  /*
  overflow-y: scroll;
  */
  color: white;

  /* full height */
  height: 400px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* text-align: center; */
}

.new-collection p:nth-of-type(1) {
  /* font-family: "Raleway"; */
  font-weight: normal;
  font-size: 1.25rem;
  text-shadow: 2px 2px 3px #757373;
  text-transform: uppercase;
  line-height: 3rem;

  margin: 0 auto;
}

/* Spring/Summer  */
.new-collection h2 {
  font-family: "Playfair Display";
  font-weight: normal;
  font-size: 2.5rem;
  /* offset-x | offset-y | blur-radius | color */
  text-shadow: 2px 2px 3px #757373;
  margin: 0 auto;
}

/* About */
.about {
  color: black;
  height: 235px;
  display: flex;
  justify-content: center;
}

.about div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 20px; */
  width: 100%;
}

.about div p {
  font-size: 1.125rem;
  font-weight: 100;
  line-height: 2.25rem;
  padding: 0 0.5rem;
}

/* Shop */
.shop {
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.item {
  background-size: cover;
  height: 50vw;
  /* viewport width: % of full viewport width. 10vw will resolve to 10% of current viewport width, or 48px on a phone thqt is 480px wide. css-tricks/fun-viewport-units */

  color: white;
  /* font-family: "Raleway"; */
  font-size: 1.625rem;
  text-shadow: 2px 2px 3px #757373;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a:hover {
  color: #b64036
}

/* mens item */
.item:nth-of-type(1) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../assets/images/mens-category.jpg");
  width: 100%;
  border-bottom: 0.6rem solid white;
}

/* trends item */
.item:nth-of-type(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../assets/images/trends-category.jpg");
  width: 49.25%;
  border-bottom: 0.6rem solid white;
}

/* glasses item */
.item:nth-of-type(3) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../assets/images/glasses-category.jpg");
  width: 49.25%;
  border-bottom: 0.6rem solid white;
}

/* sale item */
.item:nth-of-type(4) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../assets/images/sale-category.jpg");
  width: 49.25%;
}

/* bags item */
.item:nth-of-type(5) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../assets/images/bags-category.jpg");
  width: 49.25%;
}

/* womens item */
.item:nth-of-type(6) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../assets/images/womens-category.jpg");
  width: 100%;
  border-top: 0.6rem solid white;
}

/* Featured */
.featured {
  height: 660px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15px;
}

.featured h2 {
  padding-bottom: 7px;
}

/* Flickity carousel */
.main-carousel img {
  max-width: 100%;
  /* does not go bigger than container it's in. */
  height: auto;
  /* helps maintain aspect ratio of img */
}

.main-carousel .carousel-cell {
  width: 100%;
  height: auto;
}

/* default full-width cells */
/* .carousel-cell {
  width: 100%;
  height: 160px;
  margin-right: 10px;
} */
/* default full-width cells */
.carousel-cell {
  width: 100%;
  height: auto;

}

.carousel-cell p {
  color: #969696;
}

.flickity-page-dots {
  bottom: -40px;
}



/* Updates */
.newsletter {
  background-image: url("../assets/images/wave-bkgd.jpg");
  background-size: 100% 100%;
  /* img stretches to cover entire content area */
  margin-bottom: 0.6rem;
  padding: 10px;

  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newsletter>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 20px; */
  width: 100%;
}

.newsletter h2 {
  color: white;
  text-shadow: 2px 2px 3px #757373;
}

.newsletter h2 em {
  color: white;
  text-shadow: 2px 2px 3px #757373;
}

.newsletter p {
  padding: 0 0.625rem;
  font-size: 1.125rem;
  font-weight: 100;
  line-height: 2.25rem;
  color: white;
  text-shadow: 2px 2px 3px #757373;
}

.newsletter-email {
  margin: 0 auto;
  width: 86vw;
  height: 60px;
}

.button {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 30px;
  height: 70%;
  margin-top: 1rem;
}

/* .active {
  box-shadow: 0 0 1rem #969696;
  box-shadow: 
} */

.button input {
  outline: 0px;
}

.button input[type="email"] {
  width: 100%;
  border: 0;
  margin-left: 1.5rem;
  font-family: "Raleway";
  font-size: 1rem;
  font-weight: 100;
  color: #969696;
}

.button input[type="submit"] {
  width: 27%;
  height: 86%;
  background: #e9625b;
  border: 0px;
  border-radius: 30px;
  margin-right: 3px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

.button input[type="submit"]:hover {
  background: #b64036;
}



/* --------- Breakpoints --------- */

/* Tablet-friendly */
@media screen and (min-width: 600px) {

  /* --------- Elements --------- */


  /* --------- Layout --------- */
  html {
    /* 16px */
    font-size: 1rem;
  }

  /* Header */
  .container.header {
    align-items: center;
    padding: 0.875rem 0.75rem;
  }

  .logo {
    order: 1;
  }

  /* .logo img {
    height: 50px;
  } */

  .cart-icon {
    order: 3;
  }

  /* .cart-icon img {
    height: 50px;
  } */

  nav {
    order: 2;
    margin-top: 0px;
    border-top: 0px;
    width: 50%;
  }

  .header nav ul {
    /* font-size: 0.8rem; */
    justify-content: center;
  }

  .header nav ul li a {
    padding: 0.6rem;
    font-size: 0.875rem;
  }

  /* Footer */
  .footer {
    height: 290px;
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-info {
    width: 85%;
    padding-left: 2%;
    align-self: center;
    text-align: left;
  }

  .contacts-icons {
    margin-top: 0;

    flex-direction: column;
  }

  .icon-links {
    line-height: 2rem;
    padding: 0px;
  }

  .contacts-names {
    font-family: "Raleway";
    font-weight: 300;
    padding-right: 7%;
    display: block;
  }

  .contacts-names ul {
    height: 290px;
    padding-left: 15%;
  }

  /* --------- Content --------- */
  /* .new-collection {
    background-position: left, 50% 270%, center top;
    background-size: cover, 20%, cover;
  } */

  /* Spring/Summer */
  .new-collection {
    margin-top: 82px;
    background-position: left, center 60px, center top;
    background-size: cover, 150px, cover;
  }

  .new-collection h2 {
    font-size: 3rem;
  }

  /* About */
  .about {
    height: 300px;
  }

  .about div {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    padding: 20px;
    width: 55%;
  }

  /* Shop */
  .item {
    height: 150px;
  }

  /* mens item */
  .item:nth-of-type(1) {
    /* width: 48.5%; */
    /* width: 49.5vw; */
    width: 49.5%;
    border-bottom: 0.4rem solid white;
  }

  /* trends item */
  .item:nth-of-type(2) {
    /* width: 24vw; */
    /* width: 23%; */
    width: 24%;
    border-bottom: 0.4rem solid white;
  }

  /* glasses item */
  .item:nth-of-type(3) {
    /* width: 24.5vw; */
    /* width: 24%; */
    width: 24.5%;
    border-bottom: 0.4rem solid white;
  }

  /* sale item */
  .item:nth-of-type(4) {
    /* width: 24%; */
    /* width: 24.25vw; */
    width: 24.25%;
  }

  /* bags item */
  .item:nth-of-type(5) {
    /* width: 23%; */
    /* width: 24.25vw; */
    width: 24.25%;
  }

  /* womens item */
  .item:nth-of-type(6) {
    /* width: 49.5vw; */
    /* width: 50%; */
    width: 49.5%;
    border-top: 0;
  }

  /* Featured */
  .featured {
    height: 600px;
    /* padding: 0px 3px 70px 3px; */
    padding: 10px 0px 60px 0px;
  }

  /* Flickity carousel */
  .main-carousel .carousel-cell {
    width: 50%;
  }

  .main-carousel img {
    height: 30.75vh;
  }

  .flickity-page-dots {
    bottom: -72px;
  }

  /* Newsletter */
  .newsletter {
    margin-bottom: 0.5rem;
    height: 360px;
  }

  .newsletter p {
    padding: 0 1rem;
  }

  .newsletter-email {
    width: 65vw;
  }

  .button {
    height: 80%;
    margin-top: 0.75rem;
  }

  .button input[type="submit"] {
    width: 50%;
    height: 84%;
    margin-right: 4px;
  }
}

/* --------- Desktop-friendly --------- */
@media screen and (min-width: 1240px) {

  /* --------- Elements --------- */

  /* --------- Layout --------- */
  /* body {
    font-size: 0.8rem;
  } */


  /* Header */
  .container.header {
    /* align-items: center; */
    /* margin: 10px; */
    /* padding: 0.5rem 0.875rem; */
    /* padding: 1.0625rem 1.375rem; */
    padding: 1rem 1.5rem;
  }

  .logo {
    order: 1;
  }

  .logo img {
    height: 3.8rem;
  }

  .cart-icon {
    order: 3;
  }

  .cart-icon img {
    height: 3.8rem;
  }

  nav {
    order: 2;
    margin-top: 0px;
    border-top: 0px;
    width: 50%;
  }

  .header nav ul {
    /* font-size: 0.8rem; */
    justify-content: center;
  }

  .header nav ul li a {
    font-size: 1rem;
    padding: 1.125rem;
  }

  /* .about div {
    max-width: 50%;
  } */

  /* Footer */
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-info {
    width: 85%;
    padding-left: 2%;
    align-self: center;
    text-align: left;
  }

  .contacts-icons {
    margin-top: 0;

    flex-direction: column;
  }

  .icon-links {
    line-height: 2em;
    padding: 0px;
  }

  .contacts-names {
    display: block;
    font-family: "Raleway";
    font-weight: 300;
    padding-right: 7%;
  }

  .contacts-names ul {
    padding-left: 1rem;
  }

  /* --------- Content --------- */
  /* Spring/Summer */
  .new-collection {
    background-position: left, center 60px, center top;
    background-size: cover, 250px, contain;
    height: 550px;
  }

  .new-collection h2 {
    font-size: 4rem;
  }

  /* About */
  .about {
    height: 270px;
  }

  /* Shop */
  .item {
    height: 24.5vw;
  }

  .item a {
    font-size: 2.5rem;
  }

  /* mens item */
  .item:nth-of-type(1) {
    /* width: 48.5%; */
    width: 49vw;
    border-bottom: 0.5rem solid white;
  }

  /* trends item */
  .item:nth-of-type(2) {
    width: 24.25vw;
    border-bottom: 0.5rem solid white;
  }

  /* glasses item */
  .item:nth-of-type(3) {
    width: 24vw;
    border-bottom: 0.5rem solid white;
  }

  /* sale item */
  .item:nth-of-type(4) {
    /* width: 24%; */
    width: 24.5vw;
  }

  /* bags item */
  .item:nth-of-type(5) {
    /* width: 23%; */
    width: 23.75vw;
  }

  /* womens item */
  .item:nth-of-type(6) {
    width: 49vw;
    /* width: 50%; */
    border-top: 0;
  }

  /* Featured */
  .featured {
    height: 440px;
    padding: 95px 3px 140px 3px;
  }

  /* Flickity carousel */
  .main-carousel .carousel-cell {
    width: 25%;
    height: auto;
  }

  .main-carousel img {
    height: 31.5vh;
  }

  .flickity-page-dots {
    bottom: -70px;
  }

  /* Newsletter */
  .newsletter {
    height: 320px;
    align-items: center;
  }

  .newsletter>div {
    padding: 20px;
    max-width: 58%;
  }

  .newsletter-email {
    width: 36vw;
  }

  .button {
    height: 75%;
  }

  .button input[type="submit"] {
    width: 40%;
  }
}